body{
    text-align: center;
}

.slide-rule{
    position: relative;
}

#rule-out-top{
    background-image: url('img/ruler_out_top.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 7em;
    width: auto;
}

#rule-in{
    position:absolute;
    background-image: url('img/ruler_in.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 7em;
    width: auto;
}

#rule-out-bottom{
    background-image: url('img/ruler_out_bottom.png');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 7em;
    width: auto;
}
